@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Gaya scrollbar halus */
  .scrollbar-thin::-webkit-scrollbar {
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #2563eb; /* biru Tailwind */
    border-radius: 9999px;
  }
}

@layer utilities {
  .neon-glow {
    text-shadow: 0 0 6px #39ff14, 0 0 12px #39ff14, 0 0 24px #39ff14;
  }
}


@layer base {
  html {
    font-size: 16px; /* Default */
  }

  @media (min-width: 1024px) {
    html {
      font-size: 18px; /* Lebih besar di layar besar */
    }
  }
}


body {
  @apply bg-gray-100 text-gray-800 font-sans transition-colors duration-500;
}

.dark body {
  @apply bg-gray-900 text-neon-green;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}
